.content{
    display: grid;
    grid-area: c;
    grid-template-columns: auto;
    grid-column-gap: 10px;
    background-color:#2e2e2e ;
}
.content img{
    max-width: 100%;
}
.UserData{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px auto;
    grid-column-gap: 10px;
    grid-row-gap: 40px;
    padding-left: 10px;
}