*:focus{
  outline: none;
}
body{
  background-color: #616161;
}
.appWrapper{
  display: grid;
  grid-template-areas:
          "h h"
          "n c";
  margin: 0 auto;
  grid-template-rows: 90px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  color: #00D8FF;
  margin: 10px;
}
.appContent{
  background-color: rgb(46, 46, 46);
}
.appWrapperContent{
  background-color: rgb(46, 46, 46) !important;
}
::-webkit-scrollbar { width: 4px; height: 1px;}
::-webkit-scrollbar-button {  background-color: #616161; }
::-webkit-scrollbar-track {  background-color: #00D8FF;}
::-webkit-scrollbar-track-piece { background-color: #616161;}
::-webkit-scrollbar-thumb { height: 1px; background-color: #00D8FF; border-radius: 3px;}
::-webkit-scrollbar-corner { background-color: #999;}
::-webkit-resizer { background-color: #616161;}
button{
  background-color: #000000;
  border-color: #1A427D;
  color: #b3b2ad;
  min-height: 30px;
  min-width: 50px;
}
.buttonGeneral {
  background-color: #000000;
  border-color: #1A427D;
  color: #b3b2ad;
  min-height: 30px;
  min-width: 50px;
}
.buttonGeneral:hover{
  color: white;
}
.buttonGeneral:active{
  border-color: #1A4250;
}
.buttonGeneral:focus{
  outline: none;
}
.buttonGeneral:hover{
  color: white;
}
.generalButtonWrapper button {
  background-color: #000000;
  border-color: #1A427D;
  color: #b3b2ad;
  min-height: 30px;
  min-width: 50px;
}
.generalButtonWrapper button:hover{
  color: white;
}
.generalButtonWrapper button:active{
  border-color: #1A4250;
}
.generalButtonWrapper button:focus{
  outline: none;
}
.generalButtonWrapper button:hover{
  color: white;
}
button:active{
  border-color: #1A4250;
}
button:focus{
  outline: none;
}
input:focus{
  outline: none;
}
.preloaderRoot {
  position: absolute;
  width: 100vh;
  height:100vh;
}
/*rgb(0, 216, 255);*/